.header {
  min-width: 345px;
  height: 58px;
  background-color: white;
  display: flex;
  justify-content: right;
}

.header__button-open {
  background-color: white;
  border: none;
  text-decoration: none;
  display: grid;
  gap: 7px;
  width: 54px;
  height: 50px;
  padding: 10px;
}
@media (min-width: 768px) {
  .header__button-open {
    display: none;
  }
  .header{
  width: 100%;
  }
}

.header__hamburguer-line {
  width: 36px;
  height: 6px;
  background-color: #2c2c2c;
}

.header__nav {
  width: 50%;
  display: grid;
  column-gap: 2px;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 15px;
}
@media (max-width: 767px) {
  .header__nav {
    display: none;
  }
}
.header__nav__item {
  list-style: none;
}
.header__nav__link {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3px;
  text-align: center;
  font-family: "Poppins";
  color: #2c2c2c;
  text-decoration: none;
}
.header__ventana {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  background-color: black;
  display: none;
}
.header__ventana-links {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 25px;
  text-align: center;
  font-family: "Poppins";
  color: white;
  text-decoration: none;
}
.header__ventana-link {
  font-family: "Poppins";
  color:#2c2c2c;
  text-decoration: none;
  text-align: center;
  font-size: 48px;
  line-height: 48px;
}
.header__button-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  background-color: white;
  color: black;
  border-radius: 50px;
}
