.footer__content {
  min-width: 345px;
  height: 498px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
      justify-content: space-around;;
}

.footer__logo{
width: 70px;
height: 70px;
}

.footer__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.footer__link {
  font-family: "Poppins";
  color: #2c2c2c;
  text-decoration: none;
  height: 50px;
}
.footer__icon {
  color: white;
  margin-right: 7px;
  justify-content: center;
}
