* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
.servicios {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3% 0px 3% 0px;
  padding: 0px 5% 0px 5%;
}
.servicios__container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 50px;
}

@media (min-width: 768px) {
  .servicios {
  }
  .servicios__container {
    max-height: 700px;
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    grid-template-rows: 1fr;
  }
}

.servicios__card {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 25px;
  background-color: #df928e;
}
.servicios__card:hover {
  background-color: #ead2ac;
  border: solid 5px;
  border-color: #df928e;
}
.servicios__img {
}
.servicios__title,
.servicios__subtitle,
.servicios__p {
  font-family: "Poppins";
}

.servicios__p {
  text-align: center;
}
